html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: cadetblue;

}

.hoverCard {
    width: 300px;
    height: 400px;
    
    border-radius: 3px;
    box-shadow: 0 0 8px blueviolet;
}

#card1 {
    position: absolute;
    top: 50px;
    left: 50px;
}

#card2 {
    position: absolute;
    top: 50px;
    left: 400px;
}